<link href="/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="/css/view_voter.css"/>

<!------ Include the above in your HEAD tag ---------->
<br><br><br>
<div class="container">
    
      <div class="row">
          
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
    
   <div class="form-group">
To publish result please click the button  </div>
  <div class="form-group">
  </div>
  <button type="submit" class="btn btn-primary" onclick="publish_result()">Publish Result</button>
  <br><br>

   <table id="result_data" class="table">
       <tr><th>Name</th><th>Vote</th></tr>

                </table>
            

          <div class="panel panel-info" id="my_div" style="display:none">
            <div class="panel-heading">
              <h3 class="panel-title" id="name"></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
               
              
        </div>
      </div>
    </div>

     <script type="text/javascript" src="/js/web3.js"></script>
<script type="text/javascript" src="/js/connection.js"></script>