<h3 align="center">    <br> <br> Hello your id is: <strong>{{user}}</strong></h3>


                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12 gutter">

                            <div class="sales">
                                
                                <br>

                               
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12 gutter">

                          <!--  <div class="sales report">
                               
                               Welcome. now you may send money to anyone in a trusted manner. Please note the transaction hash for future reference of the transaction.
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
