<!--A Design by W3layouts
   Author: W3layout
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE html>
<html lang="en">
   <head>
      <title><strong>SECUREBLOCK</strong></title>
      <script src="/js/jquery-3.2.1.min.js"></script>
      <!-- Meta tags -->
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="keywords" 
         />
      <script>
         addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
      </script>
      <!-- Meta tags -->
      <!--stylesheets-->
      <link href="css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//style sheet end here-->
      <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
   </head>
   <body>
      <div class="mid-class">
         <div class="art-right-w3ls">
            <h2>Sign In and Sign Up</h2>
            <form action="#" method="post">
               <div class="main">
                  <div class="form-left-to-w3l">
                     <input type="text" name="username" id="username" placeholder="Username" required="">
                  </div>
                  <div class="form-left-to-w3l ">
                     <input type="password" name="password" id="password" placeholder="Password" required="">
                     <div class="clear"></div>
                  </div>
               </div>
               <div class="left-side-forget">
                  
                  
               </div>
               <div class="right-side-forget">
                 
               </div>
               <div class="clear"></div>
               <div class="btnn">
                  <button type="button" onclick="upload()"style="font-size: 20px;font-family: 'Source Sans Pro', sans-serif;"">Sign In</button>
               </div>
            </form>
            <div class="w3layouts_more-buttn">
               <h3>Don't Have an account..?
                  <a href="#content1"><strong>Sign up Here</strong>
                  </a>
               </h3>
            </div>
            <!-- popup-->
            <div id="content1" class="popup-effect">
               <div class="popup">
                  <!--login form-->
                  <div class="letter-w3ls">
                     <form action="#" method="post">
                        <div class="form-left-to-w3l">
                           <input type="text" id="name" name="name" placeholder="Username" required="">
                        </div>
                        <div class="form-left-to-w3l">
                           <input type="text" id="Aadhar" name="Aadhar" placeholder="Aadhar" required="">
                        </div>
                       

                             <div class="form-left-to-w3l">
                           <input type="text" id="creditcardnumber" name="creditcardnumber" placeholder="Credit Card Number" required="">
                        </div>

                            <div class="form-left-to-w3l">
                           <input type="text" id="creditcardpassword" name="creditcardpassword" placeholder="Credit Card Password" required="">
                        </div>

                            <div class="form-left-to-w3l">
                           <input type="text" id="debitcardnumber" name="debitcardnumber" placeholder="Debit Card Number" required="">
                        </div>

                            <div class="form-left-to-w3l">
                           <input type="text" id="debitcardpassword" name="debitcardpassword" placeholder="Debit Card Password" required="">
                        </div>



                        <div class="form-left-to-w3l">
                           <input type="password" id="password1" name="password" placeholder="Password" required="">
                        </div>
                        
                        <div class="btnn">
                           <button type="button" id="register" name="register" onclick="hello()">Register</button>
                           <br>
                        </div>
                     </form>
                     <div class="clear"></div>
                  </div>
                  <!--//login form-->
                  <a class="close" href="#">&times;</a>
               </div>
            </div>
            <!-- //popup -->
         </div>
         <div class="art-left-w3ls">
            <h1 class="header-w3ls">
              <strong style="font-size: 77px;color: lightblue;">SECUREBLOCK</strong><br><p>Secure Your Confidential Informations Here</p>
            </h1>
         </div>
      </div>

 <script type="text/javascript" src="/js/web3.js"></script>
<script type="text/javascript" src="/js/connection.js"></script>
      <footer class="bottem-wthree-footer">
         <p>
            
         </p>
      </footer>
   </body>
</html>