<link rel="stylesheet" href="/css/login.css"/>
    {{!-- <script type="text/javascript" src="/js/jquery-3.3.1.slim.min.js"></script> --}}

<div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div class="box">
                    <div class="shape1"></div>
                    <div class="shape2"></div>
                    <div class="shape3"></div>
                    <div class="shape4"></div>
                    <div class="shape5"></div>
                    <div class="shape6"></div>
                    <div class="shape7"></div>
                    <div class="float">
                        <form class="form" action="">
                            <div class="form-group">
                                <label for="username" class="text-white">Username:</label><br>
                                <input type="text" id="id1" name="id1"  class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-white">Password:</label><br>
                                <input type="password" id="pass1" name="pass1" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="button" id="login" name="submit" onclick="upload()" class="btn btn-info btn-md" value="Login">
                                {{!-- <a href="/users/register" style="color:white"><input type="button" name="submit" class="btn btn-info btn-md" value="SignUp"></a> --}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/newjquery-3.3.1.min.js"></script>  
    <script type="text/javascript" src="/js/web3.js"></script>
    <script type="text/javascript" src="/js/connection.js"></script>